// Font family
$primary-font      : "Roboto", "Open Sans", sans-serif;
$secondary-font    : "Roboto Slab", "Raleway", "Open Sans", serif;


// Color Variables
$accent-color      : #009ad8;
$primary-color     : $accent-color;
$secondary-color   : #262936;
$bg-color: #1e202b;

$strong-color      : #fff;
$body-color        : #2EC4B6;

// Grid system
$grid-columns      : 12 !default;
$grid-gutter-width : 30px !default;
